<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaweizi.transitiondemo">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".stub.touch.TouchTestActivity"></activity>
        <activity android:name=".activity.StubHomeActivity" />
        <activity
            android:name=".activity.RecyclerViewActivity"
            android:label="AndroidXRecyclerView" />
        <activity
            android:name=".activity.MiuiXRecyclerViewActivity"
            android:label="MiuiXRecyclerView" />
        <activity android:name=".activity.EndTwoActivity" />
        <activity android:name=".activity.StartTwoActivity" />
        <activity android:name=".activity.EndOneActivity" />
        <activity android:name=".activity.StartOneActivity" />
        <activity android:name=".activity.TransitionHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TransitionOneActivity" />
        <activity android:name=".activity.TransitionTwoActivity" />
    </application>

</manifest>